html {
    font-size: 16px;
}

body {
    background-color: #222;
    font-family: sans-serif;
    color: #fff;
    margin: 0;
}

.logo {
    width: 10vw;
    height: 10vw;
    margin: 0 auto;
    margin-top: 20px;
}

.logo img {
    width: 100%;
    height: 100%;
    opacity: 0.8;
}

.logo img:hover {
    opacity: 1;
}

header {
    text-align: center;
    font-weight: 700;
}

h1 {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 1vw;
}

nav {
    background-color: #444;
    text-align: center;
    width: 100%;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 2rem;
    font-weight: 700;
    line-height: 200%;
    display: inline-block;
}

nav ul a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 0 2vw;
}

nav ul > li {
    float: left;
    border-right: 2px dashed #fff;
}

nav ul > li:first-child {
    display: inline-block;
    border-left: 2px dashed #fff;
}

nav ul > li:hover {
    background-color: #666;
}

.ad {
    margin-top: 30px;
}

.ad img {
    display: block;
    margin: 0 auto;
}

.o-mnie {
    padding: 1px 0;
    width: 100%;
    background-color: #444;
    margin-top: 30px;
    
    min-height: 50vh;
}

h2 {
    font-size: 3rem;
    margin: 0;
    padding: 20px 0;
}

.ikona-img  {
    margin: 0 auto;
    width: 20vw;
    height: 20vw;
}

.ikona-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0.8;
}

.ikona-img img:hover {
    opacity: 1;
}

.o-mnie p {
    padding: 20px 20px;
    text-align: justify;
}

.zbior-wpisow {
    width: 90vw;
    margin: 0 auto;
}

h3 {
    font-size: 2rem;
    margin: 0;
    padding: 20px 0;
}

.wpis {
    display: inline-block;
    width: 30%;
    height: 30%;
    margin: 10px 1%;
}

.wpis img {
    width: 100%;
    height: 100%;
    opacity: 0.8;
}

.wpis img:hover {
    opacity: 1;
}

.wpis p {
    text-align: center;
}

.bron-dystansowa, .zamki, .zycie-sredniowiecze, .kontakt, footer {
    background-color: #444;
}

.wspolpraca p {
    padding: 20px 20px;
    text-align: justify;
}

.zbior-social {
    width: 90vw;
    margin: 0 auto;
}

.social {
    display: inline-block;
    width: 25%;
    height: 25%;
    margin: 20px 4%;
}

.social img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0.8;
}

.social img:hover {
    opacity: 1;
}

.zbior-kanalow {
    width: 90vw;
    margin: 0 auto;
}

.kanal {
    width: 25vw;
    display: inline-block;
    margin: 10px 2vw;
}

.kanal a {
    float: left;
    width: 10vw;
    height: auto;
}

.kanal img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}

.kanal img:hover {
    opacity: 1;
}

.kanal-opis {
    width: 15vw;
    height: 10vw;
    float: left;
    position: relative;
}

.kanal p {
    text-align: left;
    margin: 0;
    
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

footer p {
    margin: 0;
    padding: 20px 0;
    text-align: center;
}