html {
    font-size: 16px;
}

body {
    background-color: #222;
    font-family: sans-serif;
    color: #fff;
    margin: 0;
}

.logo a img {
    display: block;
    width: 10vw;
    height: 10vw;
    margin: 0 auto;
}

header {
    text-align: center;
    font-weight: 700;
}

h1 {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 1vw;
}

nav {
    background-color: #444;
    text-align: center;
    width: 100%;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 2rem;
    font-weight: 700;
    line-height: 200%;
    display: inline-block;
}

nav ul a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 0 2vw;
}

nav ul > li {
    float: left;
    border-right: 2px dashed #fff;
}

nav ul > li:first-child {
    display: inline-block;
    border-left: 2px dashed #fff;
}

nav ul > li:hover {
    background-color: #666;
}

.ad {
    margin-top: 30px;
}

.ad img {
    display: block;
    margin: 0 auto;
}

.o-mnie {
    padding: 1px 0;
    width: 100%;
    background-color: #444;
    margin-top: 30px;
    
    min-height: 50vh;
}

h2 {
    font-size: 3rem;
}

.o-mnie img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    width: 20vw;
    height: 20vw;
}

.o-mnie p {
    padding: 20px 20px;
}

.bron-biala {
    width: 90vw;
    margin: 0 auto;
}

h3 {
    font-size: 2rem;
}

.wpis {
    display: inline-block;
    width: 30%;
    height: 30%;
    margin: 10px; 1%;
}

.wpis img {
    width: 100%;
    height: auto;
}

.wpis p {
    text-align: center;
}