html {
    font-size: 16px;
}

body {
    background-color: #222;
    font-family: sans-serif;
    color: #fff;
}

.logo a img {
    display: block;
    width: 10vw;
    height: auto;
    margin: 0 auto;
}

header {
    text-align: center;
    font-weight: 700;
}

h1 {
    font-size: 4rem;
    text-transform: uppercase;
}

nav {
    background-color: #444;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

nav ul li {
    margin: 0;
    padding: 0;
    display: inline-block;
}

nav ul li a {
    
}

nav ul li:hover a {
    
}